* {
  margin: 0;
  box-sizing: border-box;
}

.outside {
  width: 100vw;
  height: 60px;
  display: flex;
  font-size: 30px;
  padding: 20px;
  color: rgb(253, 253, 253);
  /* background-image: linear-gradient(130deg, rgb(238, 140, 140), rgb(188, 29, 188) 60%, violet);
   */
   background-color: #198754;
  justify-content:flex-end;
  align-items: center;
  gap:20px;
  /* box-shadow: 0px 15px 30px -3px rgba(7, 7, 185, 0.5); */
}


.content-link {
  display: flex;
  flex-direction: row;
  gap:5px;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  padding: 10px;
}

.box {
  width: 100px;
  height: 100%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  transition: all 0.7s;
  align-items: center;
}

.box:hover {
  color: rgb(157, 122, 253);
  font-size: larger;
}
 
.icon-menu,            
.icon-crossX { 
  width: 2.2rem;
  cursor: pointer; 
  height: 2.2rem;
  display: none;     
}                
.inside{  
  display: block;    
}           
.inside2{ 
  display: none;      
}  
.logout{
  visibility: hidden;                    
}      
.hi{
  background-color: rgb(189, 218, 196);
}

.profileIcon{      
  border-radius: 150%;
  padding:10px;
} 
.navbar-title{
  display: flex;
  height:100%; 

  align-items: center;
  justify-content: center;
}



@media (max-width: 62em) {
  .main-navbar{
    height:fit-content;   
    align-items: flex-start; 
  }
  .outside {
     display: flex;
     justify-content: flex-end;
     
  }
 .content-link{
  scale:0;
 }

  .box:hover {
    color: rgb(193, 173, 248);
    font-size: larger;
  }
  .icons {
    display: block;
    z-index: 20;
    width: 50px;
    padding: 3px;
    color: rgb(14, 1, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(34, 4, 4);
    border-radius: 5px;
    text-align: center;
  }
  .navbar-parent{
   
    align-items:flex-start;
    justify-content: space-evenly;
  }
  .paisa{
   display: none;  
  }
  .icons{
    justify-content: flex-end;
    align-items: center;
  }
  .icon-menu {
    display: block;
    z-index: 10;
  }
 .icon-bar{
   align-items: center;
   justify-content: flex-end;
 }
  .box {
    height: 30px;
    font-size: 40x;
    color:rgb(252, 250, 250);
  }
  
  .content-link.active{
    display: flex;
    scale:1;
    background-color: #8656cd;
    /* position: absolute; */
    width: 100vw;
    padding:30px;
    color: white;
    font-size: 27px;
    left: 0;
    top: 0;
    flex-direction: column;
    margin-left: 7em;
    justify-content: flex-start;
    align-items: center;
    /* box-shadow: 0px 15px 30px -3px rgba(7, 7, 185, 0.5); */
    gap: 20px;
  }
  .navbar-title{
    display: flex;
    height:100%; 
    font-size:22px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .activemenu{
    display: none;
  }    

  .activeman {
    display: block;
  }
  .inside2{
    display: block;
    color:orangered;
    border:1px solid white;
  }
  .toggle-nav{
    display: none; 
   
  }
  .envelop{
    display: none;
  }

}