* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .super-container {
    height: 100vh;
    width:100w;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    /* background: linear-gradient(135deg, #2facff, #047a3f);
     */
     background-color: #198754;
  }
  .container-signup {
    width: 567px;
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
    gap: 10px;
  }
  .input-box {
    margin-bottom: 15px;
    width: 100%;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    gap:4px;
    justify-content: space-around;
    align-items: flex-start;
  }
  input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .input-signup{
    width:100%;
  }
  
  .btn-signup {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin-bottom: 14px;
    width: 100%;
  } 
  .button {
      height: 45px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width:75%;
      border-radius: 10px;
      border: none;
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      cursor: pointer;
      background-color: #198754;
  }
  .forgotPass{
    display: flex;
    justify-content: center;
    align-items:center;
    gap:5px;
  }